@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FFC3D1;
  }

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .max-container-auto {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }

  .spicy-rice {
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
  }

  .rounded-mplus-1c {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-style: normal;
  }

  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  .envelope {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 20em; height: 10em;
    border-radius: .25em;
    background: lemonchiffon;
  }

  .envelope:before, .envelope:after {
    position: absolute;
    top: -.25em;
    width: 40%; height: 30%;
    content: '';
  }
  
  .envelope:before {
    left: 1em;
    border-radius: 0 0 0 .25em;
    box-shadow: -.2em .2em .2em dimgrey;
    transform: skewX(37.5deg);
  }
  
  .envelope:after {
    right: 1em;
    border-radius: 0 0 .25em 0;
    transform: skewX(-37.5deg);
    box-shadow: .2em .2em .2em dimgrey;
  }

  .bg_heart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
  }

  .heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }

  .heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
  }

  .heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
  }

  @-webkit-keyframes love {
    0%{top:110%}
  }

  @-moz-keyframes love {
    0%{top:110%}
  }

  @-ms-keyframes love {
    0%{top:110%}
  }
  
  @keyframes love {
    0%{top:110%}
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px); /* Reduce width to avoid scrollbars */
    height: calc(100% - 20px); /* Reduce height to avoid scrollbars */
    pointer-events: none;
    z-index: -2;
  }
}
